html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  
  /* this breaks position sticky in Firefox */
  /* overflow-x: hidden; */
}

header {
  /*grid-column: 1 / 3;*/
  background: hsl(144, 97%, 15%);
  color: white;
  padding: 6rem 1rem;
  text-align: center;
}

main {
  padding-bottom: 4rem;
}

section {
  padding: 2rem;
  margin: 0 0 2rem 0;
}

.media-slider__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-slider__left {
    position: absolute;
    left: 0;
    width: 50%; /* Initial overlay width */
    height: 100%;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}

.media-slider__container img {
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
  grid-column: 1 / 3;
  background: hsl(144, 97%, 15%);
  color: white;
  padding: 6rem 1rem;
  text-align: center;
}