html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  
  /* this breaks position sticky in Firefox */
  /* overflow-x: hidden; */
}

header {
  /*grid-column: 1 / 3;*/
  background: hsl(144, 97%, 15%);
  color: white;
  padding: 6rem 1rem;
  text-align: center;
}

main {
  padding-bottom: 4rem;
}

section {
  padding: 2rem;
  margin: 0 0 2rem 0;
}

/* Slider */
.media-slider__container {
    position: relative;
    max-width: 600px; /* Adjust based on desired size */
    margin: auto; /* Centers the slider */
    overflow: hidden;
}

.media-slider__right-media, .media-slider__left-media {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; /* Cover the area without losing aspect ration */
}

.media-slider__left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Initial position of the slider */
    height: 100%;
    overflow: hidden;
}

/*.media-slider__splitter {
    position: absolute;
    top: 0;
    color: rgb(190, 162, 94);
    height: 100%;
    width: 5px;
    cursor: col-resize;
}*/

.media-slider__range {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

/* Carousel Items */
.carousel-item img {
    height: 300px;  /* Adjust based on the hero image height */
    object-fit: cover;
    width: 100%;
}


/* Contact Form */
.bg-gray {
    background-color: #d4d5d6; /* Adjust the color as needed */
}

form {
    margin: auto;
    max-width: 500px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
}

.call-now-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Footer */
footer {
  grid-column: 1 / 3;
  background: hsl(144, 97%, 15%);
  color: white;
  padding: 6rem 1rem;
  text-align: center;
}